.layout-container {
  min-height: 100vh;        /* toda la altura disponible */
  display: flex;
  flex-direction: column;
}

.layout-main {
  flex: 1;                  /* ocupa todo el espacio sobrante */
}
